.modal-background {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-container {
  width: 60vw;
  position: relative;
  border: 2px solid black;
  border-radius: 12px;
  background-color: white;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 1.3rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
  line-height: 1.5rem;
}

.exit-button {
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.exit-icon {
  position: absolute;
  top: -7px;
  right: -7px;
  font-size: 2rem;
  color: #48c9b0;
  border-radius: 50%;
  background-color: white;
  transition: all ease-in-out 0.3s;
}

.exit-icon:hover {
  color: red;
}

.title {
  margin-bottom: 2rem;
  font-weight: 900;
  font-size: 2rem;
}

.modal-gif {
  border: none;
  /* margin-bottom: 3rem; */
}

.modal-footer {
  display: flex;
  justify-content: center;
  /* position: absolute ; */
  bottom: 0px;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.modal-footer button {
  margin: 0 2rem;
  padding: 1.2rem;
  color: #48c9b0;
  font-size: 1.3rem;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.modal-footer button:hover {
  opacity: 0.7;
}

.next-button {
  background-color: white;
  border: 1px solid #48c9b0;
}

.back-button {
  background-color: white;
  border: 1px solid #48c9b0;
}

.modal-page {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

/* Error page */

.error-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-heading {
  color: white;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.error-link {
  border: 1px solid #48c9b0;
  color: #48c9b0;
  padding: 1.2rem 2.2rem;
  transition: all ease-in-out 0.3s;
}

.error-link:hover {
  color: white;
  opacity: 0.7;
}
