.modal-background {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-container {
  width: 50vw;
  height: 50vh;
  border-radius: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
