body {
  background-color: #02060a;
}

.node {
  height: 25px;
  transition: all 0.5s ease-in;
  width: 25px;
  background-color: white;
  border: 1px solid #64ffda;
}

.grid {
  margin-top: 10rem;
  margin-left: 2rem;
}

.row {
  display: flex;
}

.start {
  background-color: green;
}

.end {
  background-color: red;
}

.shortest {
  background-color: green;
}

.visited {
  background-color: blue;
}
.wall {
  background-color: brown;
}
